.search input.search-input {
    width: 100%;
    position: relative;
}

.location{
    font-size: 0.5em;
    color: #555;
}

.animal-types-parent{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-between;
}
.animal-types-child{
    width: 30%;
    flex: none;
}