
.page-title{
padding-left: 30px;
}
.pictures{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 50px;
  border-top: thin;
  border-bottom: thin;
  border-right: 0;
  border-left: 0;
  border-color: gray;
  border-style: solid;
  padding: 10px;
}
.picture-wrapper{
  display: flex;
  flex: 1;
  margin-left: 10px;
  margin-right: 10px;
  justify-content: center;
}
.pic{
  width: auto;
  height: 130px;
}
.phone-num{
  text-align: center;
  margin-bottom: 90px;
  margin-top:70px;

}
.emergency{
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:center;
}
.phone{
  height: 50px;
  width: auto;
  margin-right: 10px;
}
.phone-no{
  text-decoration: underline;
}
.rect-button{
  border-top: 1px;
  border-bottom: 1px;
  border-left: 0;
  border-right: 0;
  border-color: black;
  border-style: solid;
  display: flex;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  padding-top:80px;
  padding-bottom: 80px;
  margin-bottom: 40px;
  background-color: #e9e9e9;

}
.icon{
  height:150px;
  width: auto;
}
.arrow{
  height: 50px;
  width: auto;
  margin-left: 100px;
}
a{
  color: inherit;
}
a:hover{
  text-decoration: none;
  color: inherit;
}
.info-box{
  border-top: 1px;
  border-bottom: 1px;
  border-left: 0;
  border-right: 0;
  border-color: black;
  border-style: solid;
  background-color: #e9e9e9;
  padding-bottom: 20px;
}
ul{
  font-size: 30px;
}
